body {
  background-color: #fdfdfd;
}

header {
  background-color: #6883BC;
  color: #6883BC;
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

header h1 {
  background-color: #E2D1F9;
  font-size: 50px;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
}

.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  margin-left: auto;
  padding: 20px;
  font-size: 30px;
}

.nav-item a {
  text-decoration: none;
}






/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #E2D1F9;
  text-decoration: none;
}

body {
  background-color: #fdfdfd;
}

header {
  background-color: #6883BC;
  color: #6883BC;
  padding: 10px 0;
}

header h1 {
  display: inline-block;
  background-color: #E2D1F9;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

header nav {
  margin-top: 17px;
  margin-right: 80px;
  float: right;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding-left: 20px;
}

figure {
  background-image: url(../images/background-image.jpg);
  background-position: center;
  height: 200px;
  width: 100%;
  background-size: 100% 200px;
}

figcaption {
  font-size: 30px;
  color: #6883BC;
  float: right;
  background-color: #E2D1F9;
  padding: 5px 10px;
  margin-top: 130px;
  margin-right: 90px;
}

.about-me {
  font-size: 40px;
  float: left;
  width: 25%;
  padding-top: 20px;
  padding-left: 90px;
  padding-right: 20px;
  border-right: solid black 3px;
  text-align: right;
  margin-top: 30px;
}

.about-me-description {
  float: right;
  width: 75%;
  padding: 20px 10px;
}

.work {
  font-size: 40px;
  float: left;
  width: 25%;
  padding-top: 20px;
  padding-left: 90px;
  padding-right: 20px;
  border-right: solid black 3px;
  text-align: right;
  margin-top: 30px;
}

.contact-me {
  font-size: 40px;
  float: left;
  width: 25%;
  padding-top: 20px;
  padding-left: 90px;
  padding-right: 20px;
  border-right: solid black 3px;
  text-align: right;
  margin-top: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer ul {
  list-style-type: none;
  font-size: 20px;
  position: relative;
  font-weight: bold;
  align-items: center;
}

footer ul li {
  display: inline-block;
  position: relative;
  top: 55px;
  padding: 20px;
} */