:root {
  --pinkish: #DEACF5;
  --light-purple: #9754CB;
  --dark-purple: #6237A0;
  --evendarker: #28104E;
  --off-white: #FAF9F6;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--off-white);
}

header {
  background-color: var(--evendarker);
  color: var(--evendarker);
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

header h1 {
  background-color: var(--pinkish);
  font-size: 50px;
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

.navbar {
  display: flex;
}

.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-right: 40px;
  align-items: center;
}

.nav-item {
  margin-left: auto;
  padding-right: 40px;
  font-size: 30px;
}

.nav-item a {
  color: var(--pinkish);
  text-decoration: none;
}

.background-image {
  background-image: url(../images/background-image.jpg);
  background-position: center;
  height: 200px;
  width: 100%;
  background-size: 100% 200px;
}

figcaption {
  font-size: 30px;
  color: var(--evendarker);
  float: right;
  background-color: var(--pinkish);
  padding: 5px 10px;
  margin-top: 130px;
  margin-right: 90px;
}

.main-containers {
  display: flex;
  margin: 40px 0;
}

.left-container {
  font-size: 40px;
  text-align: right;
  padding: 15px;
  border-right: solid var(--dark-purple) 3px;
  color: var(--dark-purple);
  min-width: 15%;
}

.right-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: var(--dark-purple);
}

.right-container-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.right-container-top-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.right-container-middle-img {
  width: 69%;
  display: flex;
  justify-content: space-evenly;
}

.right-container-bottom-img {
  width: 69%;
  display: flex;
  justify-content: space-evenly;
}

.img-1 {
  margin: 20px;
  width: 65%;
  height: 400px;
  position: relative;
}

.img-2 {
  margin: 20px;
  width: 45%;
  height: 200px;
}

img {
  border: solid var(--dark-purple) 5px;
}

.right-container li {
  padding: 20px 70px;
  font-size: 30px;
}

.right-container li a {
  text-decoration: none;
  color: var(--dark-purple);
  border-bottom: solid var(--dark-purple) 4px;
}