body {
  background-color: #fdfdfd;
}

header {
  background-color: #6883BC;
  color: #6883BC;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

header h1 {
  background-color: #E2D1F9;
  font-size: 50px;
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-right: 30px;
}

.navbar {
  display: flex;
}

.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-right: 40px;
  align-items: center;
}

.nav-item {
  margin-left: auto;
  padding-right: 40px;
  font-size: 30px;
}

.nav-item a {
  text-decoration: none;
}

.background-image {
  background-image: url(../images/background-image.jpg);
  background-position: center;
  height: 200px;
  width: 100%;
  background-size: 100% 200px;
}

figcaption {
  font-size: 30px;
  color: #6883BC;
  float: right;
  background-color: #E2D1F9;
  padding: 5px 10px;
  margin-top: 130px;
  margin-right: 90px;
}

.main-containers {
  display: flex;
  margin-bottom: 30px;
}

.left-container {
  font-size: 40px;
  text-align: right;
  padding: 30px;
  border-right: solid black 3px;
  min-width: 15%;
}

.right-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.right-container-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.images-1 {
  padding: 20px 0;
  width: 90%;
  height: 500px;
}

.images-2 {
  padding: 20px 0;
  width: 45%;
  height: 200px;
}

.right-container li {
  padding: 20px 70px;
  font-size: 30px;
}

.right-container li a {
  text-decoration: none;
}